* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;

    background:
        linear-gradient(
            rgba(2,11,43,0.55),
            rgba(2,11,43,0.70)
        ),
        url("/images/background.avif");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    color: white;

    overflow-x: hidden;
}

/* Optional technical dots effect */

body::before {
    content: "";

    position: fixed;

    inset: 0;

    background-image:
        radial-gradient(
            rgba(56,189,248,0.15) 1px,
            transparent 1px
        );

    background-size: 80px 80px;

    opacity: 0.3;

    pointer-events: none;

    z-index: -2;
}

/* Dark overlay */

body::after {
    content: "";

    position: fixed;

    inset: 0;

    background: rgba(0, 10, 30, 0.45);

    pointer-events: none;

    z-index: -1;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #02112d;
}

::-webkit-scrollbar-thumb {
    background: #38bdf8;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #00bfff;
}

/* Selection color */

::selection {
    background: #38bdf8;
    color: black;
}

/* Links */

a {
    text-decoration: none;
    color: inherit;
}

/* Images */

img {
    max-width: 100%;
    display: block;
}